@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  background-color: #eee;
  font-size: 15px;
}
a {
  color: #222;
  text-decoration: none;
}
.container {}
header {
  border-bottom: 1px solid lightgray;
  background-color: #fff;
  height: 60px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
}
section {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 360px;
}
.login-type {

}
.btn {
  display: block;
  color: #fff;
  text-align: center;
  padding: 13px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}
.btn:nth-of-type(1) {
  color: #222;
  background: url(../images/logo-mobile.png) no-repeat center left 10px #fff;
}
.btn:nth-of-type(2) {
  background: url(../images/logo-email.png) no-repeat center left 13px #898c9b;
}
.btn:nth-of-type(3) {
  background: url(../images/logo-naver.png) no-repeat center left 13px #11ce00;
}
.btn:nth-of-type(4) {
  background: url(../images/logo-facebook.png) no-repeat center left 13px #0076fe;
}
.btn:nth-of-type(5) {
  background: url(../images/logo-line.png) no-repeat center left 10px #00c026;
}
.or {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
.or::before,
.or::after {
  content: '';
  position: absolute;
  background-color: lightgray;
  height: 1px;
  width: 44%;
  top: 50%;
}
.or::before {
  left: 0;
}
.or::after {
  right: 0;
}
.login-type h1 {
  margin-top: 0;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}
.login-footer {}
.login-footer p {
  text-align: center;
}
.login-footer p a {
  
}
.login-footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width:350px) {
  section {
    padding: 10px;
  }
}